header .navElem #home{
    text-decoration: none;
    color: #cbcbcb;
    margin-right: 2rem;
}
header .navElem #home:hover{
    color: #fff;
    text-decoration: underline;
}
header{
    background-image: url(../Assets/Illustrations2/Batgame_1.png);
}
header .intro1{
    color: #fff;
    padding:10rem 0rem 20rem 12vw;
}
.demarrer{
    text-align: center;
}
h3{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: #fff;
    font-size: 1.5rem;
}
button{
    margin: 3rem;
    padding: 1rem 3rem;
    color: #fff;
    background-image:linear-gradient(to right, rgb(122, 122, 122)  , rgb(147, 86, 7) ) ;
    border: none;
    font-size: 0.7rem;
}
label{
    color: #fff;
    font-size: 1.2rem;
}
.question p{
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.next{
    display: flex;
    justify-content: center;
}
.reponse{
    background-color: #717171;
    width: 30vw;
    padding: 0.5rem;
    margin: 0.5rem;
}
.questionCard{
    display: flex;
    justify-content: center;
}
.question1{
    display: block;

}
.question2{
    display: block;
}
.question2 img{
    height: 10rem;
    margin-top: 4rem;
    margin-right: 3rem;
}
.question3{
    display: block;
}
.question3 .questionCard{
    margin-left: -10rem;
}
.question4{
    display: block;
}
.question4 img{
    width: 10rem;
    height: 10rem;
}
.question5{
    display: block;
}
.question5 img{
    height: 5rem;
    margin-top: 7rem;
}
.question6{
    display: block;
}
.question6 img{
    height: 7rem;
    margin-right: 2rem;
}
.question6 #imgRight{
    float: right;
    margin-right: 12rem;
}
.question6 .next{
    margin-top: 5rem;
    padding-left: 10rem;
}
.question6 .next img{
    height: 15rem;
    position: absolute;
    right: 57vw;
}
.question6 .next button{
    position: relative;
    right: -4rem;
}
.question7{
    display: block;
}
.question7 img{
    height: 14rem;
}
.question7 .questionCard{
    margin-left: -10rem;
}
.question7 button{
    margin-left: -1rem;
}
.question8 {
    display: block;
}
.question8 .questionCard{
    margin-left: -7rem;
}
.question9{
    display: block;
}
.question9 #Pingouin9{
    height: 10rem;
}
.question9 .next img{
    position: absolute;
}
.question9 .next #imgLeft9{
    margin-left: -22rem;
    height: 14rem;
    margin-top: -2rem;
    
}
.question9 .next #imgRight9{
    margin-right: -30rem;
    height: 12rem;
}
.question10 {
    display: block;
}
.question10 #Joker10{
    margin-top: 2rem;
    margin-right: 3rem;
    height: 12rem;
}
.question10 #imgRight10{
    height: 10rem;
    position: absolute;
    margin-top: -10rem;
    right: 27vw;

}
.question10 #imgRight10b{
    height: 8rem;
    margin-left: -5rem;
}
.question11{
    display: block;
}
.question11 .questionCard{
    margin-left: -9rem;
}
.question11 img{
    height: 15rem;
    margin-top: 2rem;
}
.question12{
    display: block;
}
.question12 .questionCard{
    margin-left: -3rem;
}
.question12 img{
    height: 15rem;
    margin-right: 2rem;
}
.question13 {
    display: block;
}
.question13 .questionCard{
    margin-left: -5rem;
}
.question13 img{
    height: 18rem;
}
.question14 {
    display: block;
}
.question14 .questionCard{
    margin-left: -5rem;
}
.question14 img{
    margin-top: 4rem;
    height: 10rem;
}
.question15{
    display: block;
}
.question15 .questionCard{
    margin-left: -2rem;
}
.question15 img{
    height: 12rem;
    margin-top: 2rem;
    margin-right: 2rem;
}
footer{
    margin-top: 7rem;
}